@use '../../../assets/styles/variables.scss' as *;
.movie-list {
  margin: 20px;
  text-align: center;
  
  &__title {
    color: $secondary-color;
  }
  
  &__search-box {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid #ccc;
    background-color: $background-color;
    border-radius: 4px;
    font-size: 16px;
  }
  
  &__movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  &__movie-item {
    text-decoration: none;
    color: $text-color;
  }
  &__img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: $box-shadow;
    transition: transform 0.2s ease-in-out;
    &:hover{
      transform: scale(1.05);
    }
  }

  &__title {
    margin: 10px 0 0;
    font-size: 14px;
    font-weight: bold;
  }

  &__pagination {
    margin-top: 20px;
  
    &-button {
      background-color: $button-bg;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      margin: 0 10px;
      font-size: 16px;
      cursor: pointer;
  
      &:disabled {
        background-color: $button-bg-disabled;
        cursor: not-allowed;
      }
    }
  
    &-info {
      font-size: 16px;
      color: $text-color;
    }
  }
}
  /* Mobile Adjustments */
  @media (max-width: 768px) {
    .movie-list__movies {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .movie-list__movies {
        grid-template-columns: 1fr;
      }
    }
