@use '@/shared/ui/styles/variables' as *;

.movie-content {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  text-align: left;

  &__title {
    color: $secondary-color;
  }

  &__thumbnail {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: $box-shadow;
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0;
    color: $text-color;
  }

  &__details {
    font-size: 1rem;
    color: $text-color-muted;
    line-height: 1.5;

    &__item {
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      strong {
        font-weight: bold;
        color: $text-color;
      }
    }
  }

  &__star {
    color: $yellow;
  }

  &__back-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: $primary-color;
    font-weight: bold;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $highlight-color;
    }
  }

  @media (min-width: 768px) {
    max-width: initial;
    gap: 40px;
    text-align: right;

    &__content {
      grid-column: 2; 
      max-width: 600px;
      margin-left: 20px;
    }

    &__back-link {
      margin-top: 40px;
    }
  }
}
